#profile-img {
	border-radius: 100%;
	float:right;
}

img {
	height: 100px;
	width: 100px;
}

.classes {
	height: 200px;
	width: 200px;
	background-color: cyan;
	border: 4px double #008b8b;
	text-align: center;
	border-radius: 25%;
	padding: 40px;
	float: left;
	margin: 10px;
}

.classes.add {
	border-style: dashed;
}

button:hover {
	background-color: #008b8b;
	border-color: cyan;
}

#header {
	padding: 10px;

}

#content {
	padding: 10px;
	border-spacing: 2px;
}

th {
	background-color: skyblue;
	border-bottom: 2px solid black;
	height: 50px;
	text-align: center;
	margin: 10px;
}

td {
	background-color: #00e5e5;
	border-bottom: 2px solid black;
}

th, td {
	/*width: 450px;*/
	border-left: 2px solid black;
	border-right: 2px solid black;
}

.header {
	border-left: none;
	border-right: none;
	background-color: transparent;
}

#logo {
	width: 20px;
	
}
#points {
	width: 500px;
}

#profile {
	width: 20px;
}

table {
	table-layout: fixed;
}