.row{
	/*border-spacing: 20px;*/
	width:500;
	height:500;
}

.article {
  padding-left: 2%;
  padding-right: 2%;
}


#profile-img {
  border-radius: 100%;
  height: 130px;
  width: 130px;
  float:right;
}





img {
  height: 100px;
  width: 100px;
}





#logo-img{
  height: 100px;
  width: 100px;
  float:left;
}

nav {
  background:#a74ac7;
}

.navbar-brand {
  height: 130px;
}

button {
	background-color:none;
}
	
