.assignment {
	/*border: 2px solid black;*/
	padding: 10px;
}

h3{
	float:right;
}

/*#another{
	border-radius:5%;
	width: 400px;
  height: 180px;
  padding: 2px;
  border: 2px solid ;
 
  text-align: left;
  float:right;
  text-decoration-line: center;
}*/

table{
	border-radius:5%;
	width: 480px;
  height: 180px;
  padding: 10px;
  border: 2px solid ;
  margin: 5px;
  text-align: left;
  border-spacing:5px;
}

th{
	padding:10px;
}

#profile-img {
  border-radius: 100%;
  height: 130px;
  width: 130px;
  float:right;
}

img {
  height: 100px;
  width: 100px;
}





#logo-img{
  height: 100px;
  width: 100px;
  float:left;
}

nav {
  background:#a74ac7;
}

.navbar-brand {
  height: 130px;
}


.sidenav {
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}







